*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2,h3,h5{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 30px;
}

h1{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
}

h3{
    color: darkcyan;
}

h6{
    text-align: center;
    padding: 15px 0 30px 0;
}

strong{
    padding: 0 20px 30px 20px;
}

.contenitore{
    background-color:antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}

.box{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 70px;
}

.centrato{
    display: flex;
    justify-content: space-around;
    margin: 40px 0 20px 0;
}

.centro{
    display: flex;
    justify-content: center;
}

#punteggio{
    color: black;
}

#incremento, #decremento{
    font-size: 60px;
}

#rincomincia{
    margin-top: 15px;
}

@media only screen and (max-width: 500px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    h2,h3,h5{
        text-align: center;
        padding-bottom: 40px;
        padding-top: 30px;
    }
    
    h1{
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 30px;
    }
    
    h3{
        color: darkcyan;
    }
    
    h6{
        text-align: center;
        padding: 15px 0 30px 0;
    }
    
    strong{
        padding: 0 10px 30px 10px;
    }
    
    .contenitore{
        background-color:antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 30px;
    }
    
    .box{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 30px;
    }
    
    .centrato{
        display: flex;
        justify-content: space-around;
        margin: 40px 0 20px 0;
    }
    
    .centro{
        display: flex;
        justify-content: center;
    }
    
    #punteggio{
        color: black;
    }
    
    #incremento, #decremento{
        font-size: 20px;
    }
    
    #rincomincia{
        margin-top: 15px;
    }

}
